:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background: #7a60ff;
  background: linear-gradient(to left, #7a60ff, #cd9ffa);
  color: white;
  font-weight: 600;
  z-index: 9;
  -webkit-backface-visibility: hidden;
  gap: 10px;
}

.toolbar::before,
.toolbar::after {
  content: "";
  display: block;
  height: 16px;
  /* make pseudo elements sticky as well */
  position: sticky;
  -webkit-position: sticky;
}

/* SHADOW */
.toolbar::before {
  top: 48px; /* shadow is at bottom of element, so at 48 + 16 = 64px */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

/* COVER */
.toolbar::after {
  /* linear gradient from background color to transparent acts as
     a transition effect so the shadow appears gradually */
  background: linear-gradient(
    white 10%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0.4) 70%,
    transparent
  );
  top: 0;
  /* cover should fall over shadow */
  z-index: 2;
}

.counter {
  width: 24px;
  height: 24px;
  background: green;
  border-radius: 100%;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 18px;
}

.heading-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.router-link-active {
  display: none !important;
}

.watch-list {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.watch-list h3:hover {
  color: var(--primary-color);
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  margin: 52px auto 32px;
  padding: 0 16px;
  max-width: 1280px;
  flex-direction: column;
  align-items: center;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}


