:host {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--text-color);

}


.movie-container {
  display: flex;
  justify-content: center;
  gap: 64px;
  flex-wrap: wrap;
  align-items: stretch;
}

.justify-left {
  justify-content: flex-start;
}

.movie-header-sort, .movie-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  gap: 10px;
}

.movie-header-sort select {
  font-size: 18px;
  padding: 5px;
  color: var(--text-color);
  border-radius: 5px;
}

.material-icons{
  cursor: pointer;
}

.asc {
  transform: rotate(90deg)
}

.desc {
  transform: rotate(-90deg)
}

@media only screen and (max-width: 600px) {

  .movie-header {
    flex-direction: column;
  }
}

