.movie-container {
  height: 378px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.25s;
  position: relative;
  border: 9px solid white;
  box-sizing: border-box;
}

.movie-container:hover {
  box-shadow: 0 0 20px rgb(122, 96, 255);
  filter: drop-shadow(2px 4px 6px black);
  /* transform: scale(1.05); */
}

.movie-detail {
  position: absolute;
  bottom: 0px;
  padding: 10px;
  background: rgb(122, 96, 255, 0.5);
  width: 100%;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.movie-detail p {
  margin: 0px;
}

.movie-title {
  font-weight: bold;
  background: #7a60ff;
  /* width: fit-content; */
  padding-left: 3px;
  padding-right: 3px;
}

.movie-container img {
  width: 250px;
  height: 100%;
  cursor: pointer;
}

button {
  border: 0;
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
  cursor: pointer;
}

button:not(.listed):hover {
  background-color: lightblue;
}

.listed {
  background-color: green;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  color: white;
  cursor: default;
}
