:root {
  --text-color: rgba(0,0,0,0.7);
  --primary-color: #7a60ff;
  --accent-color: green;
  --shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

html, body {
  margin: 0;
  padding: 0;
}

.decor {
  width: 100%;
  height: 100%;
  display: block;
  /* background: rgb(122, 96, 255); */
  position: fixed;
  top: 0;
  /* transform: rotate(71deg); */
  z-index: -1;

  /* transform: rotate(69deg) translate(100px, -226px); */
}

.spot1 {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #cd9ffa;
  top: 22%;
  left: 10%;
  filter: blur(100px);
  -webkit-filter: blur(100px);
}

.spot2 {
  position: absolute;
  width: 500px;
  height: 500px;
  background: #cd9ffa;
  top: 36%;
  left: 10%;
  filter: blur(105px);
  -webkit-filter: blur(105px);
}

.spot3 {
  position: absolute;
  width: 600px;
  height: 600px;
  background: var(--primary-color);
  top: 62%;
  left: 32%;
  filter: blur(127px);
  -webkit-filter: blur(127px);
}
