:root {
  --text-color: rgba(0,0,0,0.7);
  --primary-color: #7a60ff;
  --accent-color: green;
  --shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  --shadow-1: 0 0 10px rgba(0, 0, 0, 0.1);
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

html, body {
  margin: 0;
  padding: 0;
}

.decor {
  width: 100%;
  height: 100%;
  display: block;
  /* background: rgb(122, 96, 255); */
  position: fixed;
  top: 0;
  /* transform: rotate(71deg); */
  z-index: -1;

  /* transform: rotate(69deg) translate(100px, -226px); */
}

.spot1 {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #cd9ffa;
  top: 22%;
  left: 10%;
  filter: blur(100px);
  -webkit-filter: blur(100px);
}

.spot2 {
  position: absolute;
  width: 500px;
  height: 500px;
  background: #cd9ffa;
  top: 36%;
  left: 10%;
  filter: blur(105px);
  -webkit-filter: blur(105px);
}

.spot3 {
  position: absolute;
  width: 600px;
  height: 600px;
  background: var(--primary-color);
  top: 62%;
  left: 32%;
  filter: blur(127px);
  -webkit-filter: blur(127px);
}

/* Animations */

@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.animate__heartBeat {
  -webkit-animation-name: heartBeat;
  animation-name: heartBeat;
  -webkit-animation-duration: calc(1s * 1.3);
  animation-duration: calc(1s * 1.3);
  -webkit-animation-duration: calc(var(--animate-duration) * 1.3);
  animation-duration: calc(var(--animate-duration) * 1.3);
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
